form.signup,
form.login {
  margin-top: 50px;
}

h1, h2, h3, h4 {
  font-family: 'Bebas Neue', cursive;
}

h5 {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}

.screen {
  width: 100%;
  height: 100vh;
  background: url(../images/drink.jpg) no-repeat center center fixed;
  background-position: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.bg-light {
  background-color: #474747 !important;
}

#bgColor {
  background-color: #231f1d;
}

#beerMe {
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
}

#navLinks {
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  color: #e77103;
}

.welcome {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

#signUplink {
  color: #e77103;
}

#age,
#Notage {
  margin-top: 20px;
}

#loginText,
#signUpHeader {
  margin-bottom: -20px;
}

.form-check-input:checked {
  background-color: #e77103;
  border-color: #e77103;
}

#selectText {
  margin-top: 20px;
}

#email-input,
#password-input,
#name-input {
  width: 300px;
}

.stars img {
  width: 50px;
  animation: star 7s linear infinite;
}

.stars {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0px;
}

#nameField,
#passwordField {
  margin-top: 20px;
}

#signUptext,
#loginText2 {
  margin-top: 20px;
}

@keyframes star {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.stars img:nth-child(1) {
  animation-delay: -2s;
}
.stars img:nth-child(2) {
  animation-delay: -1s;
}
.stars img:nth-child(3) {
  animation-delay: -3s;
}
.stars img:nth-child(4) {
  animation-delay: -4s;
}
.stars img:nth-child(5) {
  animation-delay: -6s;
}
.stars img:nth-child(6) {
  animation-delay: -7s;
}
.stars img:nth-child(7) {
  animation-delay: -8s;
}
.stars img:nth-child(8) {
  animation-delay: -5s;
}

#login-button,
#signUpButton {
  margin-top: 30px;
}

#welcomeHeader {
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
}

#welcomeSection {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
}

#beerSelector {
  margin-top: 20px;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 2px rgb(24, 24, 24);
  border-radius: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  color: white;
}

#label1 {
  margin-top: 20px;
}

#label2 {
  margin-top: 20px;
}

#FormControlSelect1 {
  margin-top: 10px;
}

#FormControlSelect2 {
  margin-top: 10px;
}

#submitButton {
  margin-top: 20px;
}

#featuredBeer {
  margin-top: 40px;
  background-color: #231f1d;
  color: white;
}

#randomBeer {
  margin-top: 20px;
  background-color: #231f1d;
  color: white;
}

.card-img-top {
  margin-top: 20px;
  height: auto;
  width: auto;
}

#featuredBeerIMG {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

/* #randomBeerIMG {
  width: 320px;
  height: 200px;
} */

.card {
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 2px rgb(24, 24, 24);
  border-radius: 10px;
}

#beerGuide {
  margin-top: 20px;
  color: white;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 2px rgb(24, 24, 24);
  border-radius: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 12px;
}

#aside {
  margin-left: auto;
  margin-right: auto;
}

.container img {
  margin: auto;
  width: 50%;
  border: 3px solid #e77103;
  padding: 10px;
}

#fBrewery, #fFlavor, #rBrewery, #rFlavor, #fABV, #rABV {
  text-align: center;
}

.card-title {
  font-weight: bold;
  color: #e77103;
  font-size: 30px;
}
