form.signup,
form.login {
  margin-top: 50px;
}

.screen{
  width: 100%;
  height: 100vh;
  background-image: url(/assets/images/moonbeer.jpg);
  background-position: cover;
  background-size: cover;
  background-position:center;
  position: relative;
  overflow: hidden;
}

.row{
  color:white;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  z-index: 2;
  text-align: justify;
}
button{
  color: #fbfcfd;
  padding: 10px 25px;
  background: transparent;
  border: 1px solid #fff;
  border-radius:20px;
  outline:none;
  cursor:pointer;
}
h2{
  font-size:80px;
  margin:10 0 30px;
  line-height: 80px;
}
.stars img{
  width: 50px;
  animation: star 7s linear infinite
}

.stars{
  width:1000px;
  display:flex;
  align-items:center;
  justify-content: space-around;
  position: absolute;
  bottom: -70px;
}

@keyframes star{
  0%{
    transform: translateY(0);
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  70%{
    opacity: 1; 
  }
  100%{
    transform:translateY(-80vh);
    opacity: 0;
  }
}

.stars img:nth-child(1){
  animation-delay:2s;
}
.stars img:nth-child(2){
  animation-delay:1s;
}
.stars img:nth-child(3){
  animation-delay:3s;  
}
.stars img:nth-child(4){
  animation-delay:4s; 
}
.stars img:nth-child(5){
  animation-delay:6s; 
}
.stars img:nth-child(6){
  animation-delay:3s; 
}
.stars img:nth-child(7){
  animation-delay:4s; 
}
.stars img:nth-child(8){
  animation-delay:5s; 
}

