<div class="screen"></div>
<div class="container">
  <div class="row welcome">
    <div class="col">
      <h1>WELCOME TO GENTLE DRINKERS</h1>
      <h4>ARE YOU OF LEGAL DRINKING AGE?</h4>
      {{!-- <form class="login" action="/index"> --}}
        <div class="form-group">
          <label for="Input">What year were you born?</label>
          <input type="date" value="" class="form-control" id="bday" placeholder="Year">
        </div>
        <div class="over">
          <button id="age" class="btn btn-dark">Over 21</button>
          <button id="Notage" class="btn btn-dark" href="https://www.alcohol.org/laws/">Not over 21</button>
        </div>
        {{!--
      </form> --}}
    </div>
  </div>
</div>
<div class="stars">
  <img src="/assets/images/bubbles.png">
  <img src="/assets/images/bubbles.png">
  <img src="/assets/images/bubbles.png">
  <img src="/assets/images/bubbles.png">
  <img src="/assets/images/bubbles.png">
  <img src="/assets/images/bubbles.png">
  <img src="/assets/images/bubbles.png">
  <img src="/assets/images/bubbles.png">
</div>
<link rel="stylesheet" href="../assets/stylesheets/style.css">
<link rel="stylesheet" href="../assets/stylesheets/queries-age.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./assets/js/beer.js"></script>
</div>