<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
</nav>
<div class="screen"></div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>WELCOME TO GENTLE DRINKERS <br> ARE YOU OF LEGAL DRINKING AGE?</h2>
      {{!-- <form class="login" action="/index"> --}}
        <div class="form-group">
          <label for="Input">What year were you born</label>
          <input type="date" value="2000-01-01" class="form-control" id="bday" placeholder="Year">
        </div>
        <div class="over">
          <button id="age" class="btn btn-default">Over 21</button>
          <button id="age" class="btn btn-default">Not over 21</button>
        </div>
        {{!--
      </form> --}}
      <br />
    </div>
  </div>
</div>
<div class="stars">
  <img src="/assets/images/circles.png">
  <img src="/assets/images/circles.png">
  <img src="/assets/images/circles.png">
  <img src="/assets/images/circles.png">
  <img src="/assets/images/circles.png">
  <img src="/assets/images/circles.png">
  <img src="/assets/images/circles.png">
  <img src="/assets/images/circles.png">
</div>
<link rel="stylesheet" href="../stylesheets/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/beer.js"></script>
</div>
</nav>