<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Beer Me</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Profile</a>
        </li>
      </ul>
      <form class="d-flex">
        <a class="nav-link" href="#">Beer List</a>
        {{!-- insert beer list somehow? excel sheet? --}}
        <a class="nav-link" href="#">Log Out</a>
      </form>
    </div>
  </div>
</nav>

<h1>Welcome {{firstName}}</h1>
{{!-- <link rel="stylesheet" href="../stylesheets/style.css"> --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/beer.js"></script>

<div class="card" style="width: 18rem;">
  <img src="https://res.cloudinary.com/cfuer12/image/upload/v1613855356/beerapp/10w-40.png
" class="card-img-top" alt="10w-40">
  <div class="card-body">
    <h5 class="card-title">Beer of the Day!</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <a href="#" class="btn btn-primary">See image</a>
  </div>
</div>