<div class="screen"></div>
<div class="container">
  <div class="row welcome">
    <div class="col">
      <h2 id="loginText">Login</h2>
      <form class="login">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address:</label>
          <input type="email" class="form-control" id="email-input" placeholder="Email">
        </div>
        <div class="form-group" id="passwordField">
          <label for="exampleInputPassword1">Password:</label>
          <input type="password" class="form-control" id="password-input" placeholder="Password">
        </div>
        <button id="login-button" class="btn btn-dark">Login</button>
      </form>
      <p id="signUptext">Sign Up <a href="signup" id="signUplink">Here</a></p>
    </div>
  </div>
</div>
<div class="stars">
  <img src="/assets/images/bubbles.png">
  <img src="/assets/images/bubbles.png">
  <img src="/assets/images/bubbles.png">
  <img src="/assets/images/bubbles.png">
  <img src="/assets/images/bubbles.png">
  <img src="/assets/images/bubbles.png">
  <img src="/assets/images/bubbles.png">
  <img src="/assets/images/bubbles.png">
</div>
<link rel="stylesheet" href="../assets/stylesheets/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/login.js"></script>