<section class="section">
  <div class="container">
  <p class="subtitle">
      Do you wish to log out?, <strong>{{name}}</strong>!
    </p>
    <button method="POST" action = "/api/logout" id="logout-button" class="button is-link">Logout</button>
  </div>
</section>

<script src="../routes/api-routes.js"></script>