<section class="section">
  <div class="container" id="logout">
    <p class="subtitle">
      Do you wish to log out, <strong>{{name}}</strong> ?
    </p>
    <div class="text-center">
      <button method="POST" action="/api/logout" id="logout-button" class="button is-link">Logout</button>
    </div>
  </div>
</section>
<script src = "/assets/js/logout.js"></script>