<section class="section">
  <div class="container">
    <h1 class="title">
      Dashboard
    </h1>
    <p class="subtitle">
      Welcome, <strong>{{firstName}}</strong>!
    </p>
    <button id="logout-button" class="button is-link">Logout</button>
  </div>
</section>

<script src="./dashboard.js"></script>