<div class="color-overlay"></div>
<nav class="navbar navbar-expand-lg navbar-dark bg-light" id="navbarMenu">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" id="beerMe">Gentle Drinkers</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        </li>
      </ul>
      <form class="d-flex">
        <a class="nav-link" href="/list" id="navLinks">Beer List</a>
        <a class="nav-link" href="/members" id="navLinks">Main</a>
        <a class="nav-link" method="POST" href="/logout" id="navLinks">Log Out</a>
      </form>
    </div>
  </div>
</nav>

<div class="container" id="bgColor">

  <div class="row">

    <div class="col-lg">
      <h1 id="welcomeHeader">Welcome, {{name}}</h1>
      <div id="welcomeSection">
        <p>
          Ever feel overwhelmed when trying to select a unique beer at your specialty alcoholic beverage store? The
          Gentle
          Drinkers App
          will be able to narrow it down for you in a couple simple steps. Our database of beers is quite eclectic and
          exotic,
          featuring many different craft specialty beers from all over the country. This is not for people who are
          looking for run-of-the-mill beers! Expect to find some very decadent, dessert-like and/or and fruity beers
          here...
        </p>
      </div>

      <div id="beerSelector">
        <h5>Find a beer!</h5>
        <form id="filterBeers" action="/filter" method="GET">

          <h6 id="selectText">Select an ABV% range:</h6>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="abvPerc" id="abvPerc" value="Low">
            <label class="form-check-label" for="inlineRadio1">Low (less than 5%)</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="abvPerc" id="abvPerc" value="Medium">
            <label class="form-check-label" for="inlineRadio2">Medium (5% to 5.9%)</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="abvPerc" id="abvPerc" value="High">
            <label class="form-check-label" for="inlineRadio3">High (6% to 7.9%)</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="abvPerc" id="abvPerc" value="Very High">
            <label class="form-check-label" for="inlineRadio4">Very High (8% or more)</label>
          </div>

          <h6 id="selectText">Select a flavor:</h6>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flavorRadio" id="flavorRadio" value="Ale">
            <label class="form-check-label" for="inlineRadio1">Ale</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flavorRadio" id="flavorRadio" value="Berliner Weisse">
            <label class="form-check-label" for="inlineRadio2">Berliner Weisse</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flavorRadio" id="flavorRadio" value="Gose">
            <label class="form-check-label" for="inlineRadio3">Gose</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flavorRadio" id="flavorRadio" value="IPA">
            <label class="form-check-label" for="inlineRadio4">IPA</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flavorRadio" id="flavorRadio" value="Porter">
            <label class="form-check-label" for="inlineRadio5">Porter</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flavorRadio" id="flavorRadio" value="Stout">
            <label class="form-check-label" for="inlineRadio6">Stout</label>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-outline-dark" id="submitButton">Submit</button>
          </div>
        </form>
      </div>

      <div id="beerGuide">
        <p id="firstGuide">Ale - Ale is a type of beer brewed using a warm fermentation method, resulting in a sweet,
          full-bodied and
          fruity taste. Historically, the term referred to a drink brewed without hops. As with most beers, ale
          typically has a bittering agent to balance the malt and act as a preservative.</p>
        <p>Berliner Weisse - Berliner Weisse is a cloudy, sour beer of around lower alcohol content. It is a regional
          variation of the wheat beer style from Northern Germany, dating back to at least the 16th century. </p>
        <p>Gose - Gose is a warm fermented beer that originated in Goslar, Germany. It is usually brewed with at least
          50% of the grain bill being malted wheat. Dominant flavours in gose include a lemon sourness, a herbal
          characteristic, and a strong saltiness.</p>
        <p>IPA - India pale ale is a hoppy beer style within the broader category of pale ale. The style of pale ale
          which became known as India pale ale was widespread in England by 1815, and would grow in popularity,
          notably
          as an export beer shipped to India and elsewhere.</p>
        <p>Porter - Porter is a style of beer that was developed in London, England in the early eighteenth century.
          It
          was well-hopped and dark in appearance owing to the use of brown malt. The name originated from its
          popularity
          with street and river porters.</p>
        <p>Stout - Stout is a dark, top-fermented beer with a number of variations, including dry stout, oatmeal
          stout,
          milk stout, and imperial stout. The first known use of the word stout for beer was in a document dated 1677
          found in the Egerton Manuscripts, the sense being that a "stout beer" was a strong beer, not a dark beer.
        </p>
      </div>

    </div>

    <div class="col-sm-auto" id="aside">

      <div class="card" style="width: 325px;" id="featuredBeerCard">
        <img src="" class="card-img-top" alt="Featured Beer" id="featuredBeerIMG">
        <div class="card-body" id="featuredBeerBody">
          <h4 class="card-title">Featured Beer</h4>
          <hr class="solid">
          Name: <p id="fName"></p>
          Brewery: <p id="fBrewery"></p>
          Flavor: <p id="fFlavor"></p>
          ABV%: <p id="fABV"></p>
        </div>
      </div>

      <div class="card" style="width: 325px;" id="randomBeerCard">
        <img src="" class="card-img-top" alt="Random Beer" id="randomBeerIMG">
        <div class="card-body" id="randomBeerBody">
          <h4 class="card-title">Random Beer</h4>
          <hr class="solid">
          Name: <p id="rName"></p>
          Brewery: <p id="rBrewery"></p>
          Flavor: <p id="rFlavor"></p>
          ABV%: <p id="rABV"></p>
          <div class="text-center">
            <button class="btn btn-outline-dark" id="randomBeer">Get Random Beer</a>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<footer class="footer py-4 font-small text-light">
  <div class="footer-copyright text-center container-fluid">
    © Gentle Drinkers, 2021
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/beer.js"></script>