<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Beer Me</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        </li>
      </ul>
      <form class="d-flex">
        <a class="nav-link" href="#">Beer List</a>
        <a class="nav-link" href="/members">Profile</a>
        <a class="nav-link" href="/">Log Out</a>
      </form>
    </div>
  </div>
</nav>

<div class="container">

  <div class="row">

    <div class="col-10">
      <h1 id="welcomeHeader">Welcome, {{name}}</h1>
      <div id="welcomeSection">
        <h5>
          Hello username!
        </h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quia magnam rem libero odio, architecto
          blanditiis vel excepturi labore neque at iusto voluptas cumque enim! Pariatur ut possimus quaerat ad.
        </p>
      </div>

      <div id="beerSelector">
        <h5>Find a beer:</h5>
        <form>

          <div class="form-group">
            <label for="FormControlSelect1" id="label1">Select an ABV% range:</label>
            <select multiple class="form-control" id="FormControlSelect1">
              <option>Low</option>
              <option>Med</option>
              <option>High</option>
              <option>Very High</option>
            </select>
          </div>

          <div class="form-group">
            <label for="FormControlSelect2" id="label2">Select a flavor:</label>
            <select multiple class="form-control" id="FormControlSelect2">
              <option>Ale</option>
              <option>Berliner Weisse</option>
              <option>Gose</option>
              <option>IPA</option>
              <option>Porter</option>
              <option>Stout</option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>

        </form>
      </div>

    </div>

    <div class="col-2">

      <div class="card" style="width: 320px;" id="featuredBeer">
        <img src="./assets/beer-img/apricot-funk.jpg" class="card-img-top" alt="Featured Beer" id="featuredBeerIMG">
        <div class="card-body" id="featuredBeerBody">
          <h5 class="card-title">Featured Beer</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary" id="featuredButton">Learn More</a>
        </div>
      </div>

      <div class="card" style="width: 320px;" id="randomBeer">
        <img src="./assets/beer-img/bourbon-barrel-stout.jpg" class="card-img-top" alt="Random Beer" id="randomBeerIMG">
        <div class="card-body" id="randomBeerBody">
          <h5 class="card-title">Random Beer</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary" id="randomButton">Learn More</a>
        </div>
      </div>

    </div>

  </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/beer.js"></script>
